* {
  font-family: Lato;
  font-size: 14px;
  color: #444;
}
.container {
  padding-top: 32px
}

canvas {
  position: relative;
  width: 1200px;
  height: 800px;
  display: block;
  border: 1px dashed #ddd;
}
